:root {
    --primary-text-color: #757575;
    --title-text-color: #212121; 
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --bkg-white-color: #E5E5E5;
    --bkg-btn-color: #F5F4FA;
    --bkg-dark-color: #2F303A;
}

body {

    color: var(--primary-text-color);
    font-size: 14px;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    outline: 1px solid red;

    width: 1200px;

    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;

}

/* header */

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 90px;

    color: #000000;
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.special {
    color: var(--accent-color);
}

.navigation-list .link {
    color: var(--title-text-color);
    font-weight: 500;
    
    line-height: 1.14;
    letter-spacing: 0.06em;
    text-decoration: none;      
}

.navigation-list .current {
    color: var(--accent-color);
}

.header-group {
    margin-left: auto;
}

.header-group .link {
    
    color: var(--primary-text-color);
    font-weight: 500;
   
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* .list .link { 
    color: var(--primary-text-color);
    font-weight: 500;
   
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

} */

.list .link:hover,
.list .link:focus {
    color: var(--accent-color);
}

.navigation-list .link:hover,
.navigation-list .link:focus {
    color: var(--accent-color);
}

/* main */

/* hero */
.hero-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--white-color);
    background-color: var(--bkg-dark-color);
    
}

/* title h2 */
.section-title {

   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   
   color: var(--title-text-color);
}

/* title h3 для секции особенности  */
.feature-list .subtitle {

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

/* абзацы */
.text {

    font-weight: 400;

    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* секция Наша команда */
.section-team {
    background-color: var(--bkg-btn-color);
}
/* заголовок для h2 наша команда */
.team-list .section-subtitle {  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    color: var(--title-text-color);

}

.team-list .desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}


/* абзацы */
.text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}


/* projects h2*/ 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
        
}

.desc {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    color: var(--primary-text-color);
}


/* Button */
.hero .button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;

}

.hero .button:hover,
.hero .button:focus {
    background-color: #188CE8;
}



.button-list .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--bkg-btn-color);
    color: var(--title-text-color);
    cursor: pointer;
}

.button-list .current {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.button-list .button:hover,
.button-list .button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);

}

.footer {
    background-color: var(--bkg-dark-color);
}

.footer .logo {
    color: var(--white-color);
}

.address-link {
    
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-color);
}

.list-address {
    font-style: normal;
}

.list-address .link {
    
    color: var(--primary-text-color);
    font-weight: 500;
   
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;